<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headCommon (#{nav.exams})"></head>

<body>

<div th:with="examsActive='active'" th:insert="includes.html :: navStudent"></div>

<main class="page catalog-page">
	<section class="clean-block clean-catalog dark">
		<div class="container">
			<div class="block-heading" style="padding-top: 120px">
				<h2 class="text-info" th:text="#{exams.heading}">Exams List</h2>
			</div>
			<div class="content">
				<div class="table-responsive table-borderless">
					<table class="table table-sm table-striped">
						<thead>
						<tr>
							<th th:text="#{exams.subject}">Subject</th>
							<th th:text="#{exams.date}">Date</th>
							<th th:text="#{exams.location}">Location</th>
							<th th:text="#{exams.yourMark}">Your Mark</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="exam : ${examList}">
							<td th:text="#{'examSubj.' + ${exam.subject}}">Subject</td>
							<td th:text="${exam.date}">00.00.00</td>
							<td th:text="${exam.location}">Somewhere</td>
							<td th:text="${exam.mark}">###</td>
							<td>
								<form th:action="@{/student/exams/register}" method="post">
									<button th:unless="${exam.registered}" class="btn btn-primary" type="submit"
								          style="font-size: 14px;padding-bottom: 0px;padding-top: 0px;"
									        th:name="examId" th:value="${exam.id}" th:text="#{exams.register}">Register</button>
								</form>
								<button class="btn btn-primary" type="button" disabled style="font-size: 14px;padding-bottom: 0px;padding-top: 0px;"
								        th:if="${exam.registered}" th:text="#{exams.registered}">Registered</button>
							</td>
						</tr>
						<tr></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>