<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headCommon (#{nav.home})"></head>

<body>

<div th:insert="includes.html :: navStudent"></div>

<main class="page landing-page">
	<section class="clean-block clean-hero" style="background-image: url('/img/BoschGardenHell.jpg');color: rgba(9, 162, 255, 0.7); height: 900px">
		<div class="text">
			<h2 th:text="#{studHome.greeting} + ' ' + ${student.firstName} + '!'">Hello, Student!</h2>
			<p th:text="#{studHome.majorsNum} + ' ' + ${student.majors.size()}">Majors applied for: 0</p>
			<p th:text="#{studHome.examsNum} + ' ' + ${student.exams.size()}">Exams registered for: 0</p>
			<div th:if="${majorsAdmittedTo.size() > 0}">
				<h3 th:text="#{studHome.congrats.h}"> Congratulations, you have passed! </h3>
				<p th:text="#{studHome.congrats.p1}"> You are admitted to the following majors: </p>
				<p th:each="m : ${majorsAdmittedTo}">&#10004 <strong><span th:text="#{'major.' + ${m.title}}"></span></strong></p>
				<p th:text="#{studHome.congrats.p2}"> Check your rankings on a major page. </p>
			</div>
		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>
