<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headCommon (#{majors.ranking.h})"></head>

<body>

<div th:with="majorsActive='active'" th:insert="includes.html :: navAdmin"></div>

<main class="page catalog-page">
	<section class="clean-block clean-catalog dark">
		<div class="container">
			<div class="block-heading" style="padding-top: 120px">
				<h2 class="text-info" th:text="#{majors.ranking.h}">Major Applicants Ranking</h2>
			</div>

			<div class="text-center">
				<div role="group" class="btn-group shadow-lg">
					<form th:action="@{/admin/majors/{majorId}/applicants/admit(majorId = ${major.id})}" th:method="POST">
						<button class="btn btn-success" type="submit" th:value="${major.id}"
						        th:text="#{majors.ranking.btn.admit}">Admit Students</button>
					</form>
					<form th:action="@{/admin/majors/{majorId}/applicants/reset(majorId = ${major.id})}" th:method="POST">
						<button class="btn btn-danger" type="submit" th:value="${major.id}"
						        th:text="#{majors.ranking.btn.reset}">Reset Admission</button>
					</form>
				</div>
				<p class="alert-warning" th:text="${admissionMsg}" style="margin-top: 12px"></p>
			</div>

			<div class="content">
				<div class="table-responsive table-borderless">
					<table class="table table-sm table-striped">
						<thead>
						<tr>
							<th th:text="#{majors.ranking.rank}">Rank</th>
							<th>ID</th>
							<th th:text="#{user.firstName}">First Name</th>
							<th th:text="#{user.lastName}">Last Name</th>
							<th th:text="#{majors.ranking.score}">Score</th>
						</tr>
						</thead>
						<tbody>
						<div th:each="applicant, appStat : ${major.applicants}">
							<tr>
								<td th:text="${appStat.count}">rank</td>
								<td th:text="${applicant.id}">id</td>
								<td th:text="${applicant.firstName}">John</td>
								<td th:text="${applicant.lastName}">LastNameson</td>
								<td th:text="${applicant.majorScore}">score</td>
							</tr>
							<tr th:if="${appStat.count == major.capacity}">
								<td colspan="5" class="text-center h4" th:utext="#{majors.ranking.dontpass}"></td>
							</tr>
						</div>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>