<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headCommon (#{nav.users})"></head>

<body>

<div th:with="usersActive='active'" th:insert="includes.html :: navAdmin"></div>

<main class="page catalog-page">
	<section class="clean-block clean-catalog dark">
		<div class="container">
			<div class="block-heading" style="padding-top: 120px">
				<h2 class="text-info" th:text="#{users.h}">Users List</h2>
			</div>
			<div class="content">
				<div class="table-responsive table-borderless">
					<table class="table table-sm table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th th:text="#{user.email}">Email</th>
								<th th:text="#{user.firstName}">First Name</th>
								<th th:text="#{user.lastName}">Last Name</th>
								<th th:text="#{user.role}">Role</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${usersPage}">
								<td th:text="${user.id}">id</td>
								<td th:text="${user.email}">asdasdas@sada.df</td>
								<td th:text="${user.firstName}">John</td>
								<td th:text="${user.lastName}">LastNameson</td>
								<td th:text="${user.role}">STUDENT</td>
								<td>
									<form th:action="@{'/admin/users/update/' + ${user.id}}" method="get">
										<button class="btn btn-primary" type="submit" style="font-size: 14px;padding-bottom: 0px;padding-top: 0px;"
										th:text="#{users.btn.update}">Update</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
<!--	PAGINATION		-->
			<nav th:with="currentViewPath='/admin/users'">
				<ul class="pagination">
					<li th:class="${usersPage.number == 0} ? 'page-item disabled'" class="page-item">
						<a class="page-link" th:href="@{${currentViewPath}(pageSize=${selectedPageSize}, page=1)}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li th:class="${usersPage.number == 0} ? 'page-item disabled'" class="page-item">
						<a class="page-link" th:href="@{${currentViewPath}(pageSize=${selectedPageSize}, page=${usersPage.number})}" aria-label="Previous">
							<span aria-hidden="true">&larr;</span>
						</a>
					</li>
					<li class="page-item" th:class="${usersPage.number == (page - 1)} ? 'page-item active'"
					    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="page-link" th:href="@{${currentViewPath}(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}">1</a>
					</li>
					<li class="page-item" th:class="${usersPage.number >= usersPage.totalPages - 1} ? 'page-item disabled'">
						<a class="page-link" th:href="@{${currentViewPath}(pageSize=${selectedPageSize}, page=${usersPage.number} + 2)}" aria-label="Next">
							<span aria-hidden="true">&rarr;</span>
						</a>
					</li>
					<li class="page-item" th:class="${usersPage.number >= usersPage.totalPages - 1} ? 'page-item disabled'">
						<a class="page-link" th:href="@{${currentViewPath}(pageSize=${selectedPageSize}, page=${usersPage.totalPages})}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					<div class="form-group col-md-1">
						<select class="form-control pagination" id="pageSizeSelect">
							<option th:each="size : ${pageSizes}" th:text="${size}" th:value="${size}" th:selected="${size} == ${selectedPageSize}"></option>
						</select>
					</div>
				</ul>
			</nav>
<!--	PAGINATION END		-->
		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>