<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="headCommon (pageTitle)">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title th:text="${pageTitle} + ' - YouPassed'">YouPassed</title>
	<meta name="description" content="YouPassed - University Admission System">

	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/smoothproducts.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
	<link rel="stylesheet" type="text/css"
	      href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>


<!-- Navigation menu for unauthorized users -->
<nav th:fragment="navPublic" class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
	<div class="container">
		<a class="navbar-brand logo" th:href="@{/}"><strong>YouPassed</strong></a>
		<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item" role="presentation">
					<a class="nav-link" th:attrappend="class=${' ' + homeActive}"
					   th:href="@{/}" th:text="#{nav.home}">Home</a></li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" th:attrappend="class=${' ' + loginActive}"
					   th:href="@{/login}" th:text="#{nav.log_in}">Log In</a></li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" th:attrappend="class=${' ' + registerActive}"
					   th:href="@{/register}" th:text="#{nav.register}">Register</a></li>
			</ul>
			<a href="?lang=ua" style="font-size: 14px;">UA</a><span class="navbar-text">&nbsp;/&nbsp;</span>
			<a href="?lang=en" style="font-size: 14px;">EN</a>
		</div>
	</div>
</nav>


<!-- Navigation menu for admins -->
<nav th:fragment="navAdmin" class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
	<div class="container">
		<a class="navbar-brand logo" th:href="@{/admin/home}"><strong>YouPassed</strong></a>
		<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item" role="presentation">
					<a class="nav-link" th:attrappend="class=${' ' + majorsActive}"
					   th:href="@{/admin/majors}" th:text="#{nav.majors}">Majors</a></li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" th:attrappend="class=${' ' + examsActive}"
					   th:href="@{/admin/exams}" th:text="#{nav.exams}">Exams</a></li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" th:attrappend="class=${' ' + usersActive}"
					   th:href="@{/admin/users}" th:text="#{nav.users}">Users</a></li>
			</ul>
			<a href="?lang=ua" style="font-size: 14px;">UA</a><span class="navbar-text">&nbsp;/&nbsp;</span>
			<a href="?lang=en" style="font-size: 14px;">EN</a>
		</div>
		<div class="dropdown" style="margin-left: 30px;">
			<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"
			   th:text="${#authentication.principal.firstName}" style="font-size: 15px;">UserFirstName</a>
			<div class="dropdown-menu" role="menu">
				<a class="dropdown-item" role="presentation" th:href="@{/profile}" style="font-size: 15px;"
				   th:text="#{nav.profile}">Profile</a>
				<form th:action="@{/logout}" method="POST">
					<input class="dropdown-item" role="presentation" style="font-size: 15px;" type="submit"
					       th:value="#{nav.log_out}"/>
				</form>
			</div>
		</div>
	</div>
</nav>


<!-- Navigation menu for students -->
<nav th:fragment="navStudent" class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
	<div class="container">
		<a class="navbar-brand logo" th:href="@{/student/home}"><strong>YouPassed</strong></a>
		<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item" role="presentation">
					<a class="nav-link" th:attrappend="class=${' ' + majorsActive}"
					   th:href="@{/student/majors}" th:text="#{nav.majors}">Majors</a></li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" th:attrappend="class=${' ' + examsActive}"
					   th:href="@{/student/exams}" th:text="#{nav.exams}">Exams</a></li>
			</ul>
			<a href="?lang=ua" style="font-size: 14px;">UA</a>
			<span class="navbar-text">&nbsp;/&nbsp;</span>
			<a href="?lang=en" style="font-size: 14px;">EN</a>
		</div>
		<div class="dropdown" style="margin-left: 30px;">
			<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"
			   th:text="${#authentication.principal.firstName}" style="font-size: 15px;">UserFirstName</a>
			<div class="dropdown-menu" role="menu">
				<a class="dropdown-item" role="presentation" th:href="@{/profile}" style="font-size: 15px;"
				   th:text="#{nav.profile}">Profile</a>
				<form th:action="@{/logout}" method="POST">
					<input class="dropdown-item" role="presentation" style="font-size: 15px;" type="submit" th:value="#{nav.log_out}"/>
				</form>
			</div>
		</div>
	</div>
</nav>


<div th:fragment="footer" class="fixed-bottom">
	<footer class="page-footer dark" style="padding: 0;">
		<div class="footer-copyright" style="padding: 0;margin: 0;">
			<p>&copy; 2020 <a href="https://github.com/dstepanets" target="_blank"> Dmytro Stepanets</a></p>
		</div>
	</footer>

	<script src="/js/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="/js/smoothproducts.min.js"></script>
	<script src="/js/theme.js"></script>
	<script src="/js/pagination-page-size-switch.js"></script>
</div>


</html>