<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headCommon (#{nav.home})"></head>

<body>

<div th:with="homeActive='active'" th:insert="includes.html :: navPublic"></div>

<main class="page landing-page">
	<section class="clean-block clean-hero"
	         style="background-image: url('/img/raphael-school-of-athens.jpg');color: rgba(9, 162, 255, 0.7); height: 830px;">
		<div class="text">
			<h2 th:text="#{index.greeting.heading}">Heading</h2>
			<p th:text="#{index.greeting.body}">Body </p>
		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>