<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headCommon (#{nav.log_in})"></head>

<body>

<div th:with="loginActive='active'" th:insert="includes.html :: navPublic"></div>

<main class="page login-page">
	<section class="clean-block clean-form dark">
		<div class="container">
			<div class="block-heading" style="padding-top: 120px">
				<h2 class="text-info" th:text="#{nav.log_in.login}">Log In</h2>
			</div>
			<form th:action="@{/login}" method="POST">
				<div class="form-group">
					<label for="email" th:text="#{user.email}">Email</label>
					<input class="form-control item" type="email" name="email" id="email">
				</div>
				<div class="form-group">
					<label for="password" th:text="#{user.password}">Password</label>
					<input class="form-control" type="password" name="password" id="password">
				</div>
				<button class="btn btn-primary btn-block" type="submit" th:text="#{nav.log_in}">Log In</button>
			</form>
			<p align="center" style="color: darkred" th:if="${param.error}" th:text="#{nav.log_in.err}">Login failed:(</p>
		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>